<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @publication.body %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @publication.instructor_id %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
